#gameboard {
    display: grid;
    border: 1px solid black;
    width: 663px;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto auto auto auto;
}
#gameboard > div  {
    border: 1px solid black;
    height: 93px; 
    width: 93px;
}
#play{
    display: grid;
    width: 663px;
    border: 1px solid red;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto auto auto auto;
}
#play > div  {
    border: 1px solid red;
    height: 93px; 
    width: 93px;
}
#startPage {
    display: none;
}
